body{
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.first {
  width: 33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.second {
  width: 33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.final {
  width: 33vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
