<!DOCTYPE html>
<html ng-app='Splitr'>
  <head>
    <meta charset="utf-8">
    <title>Split.r</title>
    <link rel="stylesheet" href="../css/master.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>
  <body ng-controller='MainController'>
    <div class='header'>
      <h1>Split.r</h1>
    </div>
    <div class='main'>
      <div class='first'>
        <label>First Time</label>
        <input ng-model='firsttime' type='number'>
        <label>Second Time</label>
        <input ng-model='secondtime' type='number'>
      </div>
      <div class='second'>
        <label>First Split</label>
        <input ng-model='firstsplit' type='number'>
        <label>Second Split</label>
        <input ng-model='secondsplit' type='number'>
      </div>
    </div>
  </body>
  <script src="../js/app.js" charset="utf-8"></script>
</html>
