<!DOCTYPE html>
<html ng-app='Splitr'>
  <head>
    <meta charset="utf-8">
    <title>Split.r</title>
    <link rel="stylesheet" href="../css/master.css" media="screen" title="no title">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
  </head>
  <body ng-controller='MainController'>
    <h1>Split.r</h1>
    <div class='first'>
      <label>First Min</label>
      <input ng-model='firstmin' type='text'>
      <label>First Sec</label>
      <input ng-model='firstsec' type='text'>
      <label>First Tenth</label>
      <input ng-model='firsttenth' type='text'>
    </div>
    <div class='second'>
      <label>Second Min</label>
      <input ng-model='secondmin' type='text'>
      <label>Second Sec</label>
      <input ng-model='secondsec' type='text'>
      <label>Second Tenth</label>
      <input ng-model='secondtenth' type='text'>
    </div>

    <div class='final'>
      <label>Final Time</label>
      <h3 ng-model='final'></h3>
    </div>
  </body>
  <script src="../js/app.js" charset="utf-8"></script>
</html>
